# A MANIFEST.in file can be added in a project to define the list of files
# to include in the distribution built by the sdist command.
#
# For more info: https://docs.python.org/2/distutils/sourcedist.html#manifest-related-options

include README.rst LICENSE.txt release-history.rst requirements.txt requirements-test.txt
recursive-include aws_lambda_layer tests
global-exclude *.py[cod]
